.content {
    display: flex;
    flex-direction: column;
    /* background-color: rgba(165, 42, 42, 0.918); */
    /* background-color: transparent; */
    /* color: wheat; */
    color: brown;
    border-radius: 3px;
    padding-left: 3px;
    padding-bottom: 3px;
    font-weight: bolder;
}
.temptContainer { 
    background-color: #ffffff78;  
    list-style:none;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-items: center;
    color: #ebbb37;
    font-weight: bolder;
    margin-top: 50px;
    margin-right: 10px;
    text-shadow: 0 1px 1px rgb(12, 12, 12);
}
.legend{
    color: #ebbb37; 
    font-family: "Great Vibes", cursive; 
    font-size: 60px;
    line-height: 90px; 
    font-weight: normal; 
    margin-bottom: 0px; 
    margin-top: 40px;
    text-align: center; 
    text-shadow: 0 1px 1px rgb(12, 12, 12); 
}

.l {
    display: flex;
    align-items: center;
}
.input {
    border: none; 
    letter-spacing: 2px; 
    text-transform: uppercase; 
    cursor: pointer; 
    padding: 5px;
    margin-top: 10px; 
    border-radius: 5px;
    color: white;
}
.input:hover{
    background-color: #ebbb37;
    
}
.back{
    position: relative; left: 40%; bottom: -5%;
    font-family:Georgia;
    color: solid black;
    border-color: solid black;
    /* background-color: rgb(207, 170, 89); */
    background: linear-gradient(#f0ddaa, #a58a40);
    border-radius: 9px;
    margin-top: 15px;
    margin-left: 10px;
    color: solid black;
    font-size: 13px;
    font-weight: 800;
    width: 200px;
    height: 50px;

}