.bod{
    
    background-image: url("https://media.istockphoto.com/vectors/dog-bone-isolated-seamless-pattern-vector-puppy-cat-wallpaper-doodle-vector-id917996112?b=1&k=6&m=917996112&s=170667a&w=0&h=-Cdml4SV6o3qm_Z_AXXh_7fPepTeQuw-50hTFVaQg08=");
    height: 1450px; 
    width: 100%;
    
} 
.bod2{
    background-color: rgb(187 173 173 / 72%);
    height: 1450px; 
    /* width: 100%; */
}
.bar {
    align-items: center;
    padding: 25px 20px 25px 20px;
    color:white;
    background-color: rgba(26, 26, 26, 0.938);
    /*border: none;*/
    display: flex; 
    justify-content: space-between; 
    
    
} 
.cajon {
    display: flex; 
    justify-content: space-between; 
    width: 14.5%;
   
}
.up{
    display: inline-flexbox; 
    
    margin: 10px;
    padding-left: 5px;
    padding-right: 10px;
}

select, button{
    text-decoration: none;
    border: none;
} 

.selectOption{
 background-color: white;
 color: black;
}

select option:hover{

cursor: pointer;
}

.contenedor { 
    text-decoration: none;
    margin-top: 10px;
    margin: 10px;
    width: 300px;
    height: 480px;
    align-items: center; 
    text-align: center;
    display: inline-block;
    /* background: linear-gradient(#f0ddaa, #a58a40);  */
    border-radius: 5%;
    padding-left: 5px;
    padding-right: 10px;
    justify-content:center;
    margin-left: 100px;
    /* background-color: rgb(253, 226, 182); */
    background-color:rgba(184, 226, 243, 0.89);
    /* background-color:transparent; */
    /* background: linear-gradient(#fdffff73, #b1deec); */
    
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1); 
    
    
    
    
}

.contenedor:hover {
    transform: scale(1.02);
    -webkit-box-shadow: 4px 4px 16px 1px rgba(0,0,0,0.38);
    -moz-box-shadow: 4px 4px 16px 1px rgba(0,0,0,0.38);
    box-shadow: 4px 4px 16px 1px rgba(0,0,0,0.38);}


.direccion {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    padding: 10px;
}

.pagination{
    margin-top: 80px;
    margin-bottom: 0;
}
.pagination li {
    color: aliceblue;
    display: inline-flex;
    padding: 8px;
    border: 1px solid black;
    cursor: pointer;
    /* background-color: rgb(207, 170, 89); */
    background: linear-gradient(#ffffff, #117897);
    border-radius: 10%;
    list-style:none; 
    width: 10px; 
    justify-content: center;
    font-size: 12px;
    
    /* rgb(247, 146, 64); 
    background-color: #24588b;*/
}
  
.pagination li:hover {
    background-color: transparent;
    color: rgb(235, 231, 231);
    transform: scale(1.10);
    box-shadow: 0 5px 10px rgb(196, 192, 192);

}
.button {
    position: relative; 
    font-family:Georgia;
    color: solid black;
    border-color: solid black;
    /* background-color: rgb(207, 170, 89); */
    background: linear-gradient(#ffffff, #117897);
    border-radius: 9px;  
    color:  white;
    font-size: 13px;
    font-weight: 800;
    width: 60px;
    height: 40px;
    
}

  
.button2 {
    position: relative;
    font-family:Georgia;
    color: solid black;
    border-color: solid black;
    /* background-color: rgb(207, 170, 89); */
    background: linear-gradient(#ffffff, #117897);
    border-radius: 5px;
    color:  rgb(255, 255, 255);
    font-size: 13px;
    font-weight: 800;
    width: auto;
    height: auto;
    padding: 8px 8px;
    cursor: pointer;
    
}
.button:hover{
    color: rgb(255, 249, 249);
    border-color: solid black;
    background-color: transparent;
}
.temptContainer { 
    position: relative; left: 40%; bottom: -5%;
    font-family:Georgia;
    /* background-color: rgb(207, 170, 89); */
    background: linear-gradient(#f0ddaa, #a58a40);
    border-radius: 9px;
    margin-top: 15px;
    margin-left: 10px;
    color: solid black;
    border-color: solid black;
    font-size: 13px;
    font-weight: 800;
    width: 150px;
    height: 50px;
    cursor: pointer;
    
    
}
  
/* .button2 {
    position: relative; left: 30%; bottom: 15%;
    font-family: Montserrat;
    color: solid black;
    border-color: solid black;    
    background-color: rgb(246, 255, 126);
    border-radius: 999px;
    margin-top: 0%;
    margin-left: 8px;
    color: solid black;
    font-size: 13px;
    font-weight: 800;
    width: 60px;
    height: 60px;
} */
.reload{
    position: relative; left: 40%; bottom: -5%;
    font-family:Georgia;
    border-color: solid black;
    /* background-color: rgb(207, 170, 89); */
    background: linear-gradient(#f0ddaa, #a58a40);
    border-radius: 9px;
    margin-top: 15px;
    margin-left: 10px;
    color: solid black;
    font-size: 13px;
    font-weight: 800;
    width: 150px;
    height: 50px;
    cursor: pointer;
    

}
.reload:hover{
    color: rgb(255, 249, 249);
    border-color: solid black;
    background-color: transparent;
}
.created{
    text-decoration: none;
    padding-top: 15px;
    color: solid black;
    position: relative; left: 40%; 
    font-family:Georgia;
    border-color: solid black;
    background: linear-gradient(#f0ddaa, #a58a40);
    border-radius: 9px;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 20px;
    font-weight: 800;
    width: 200px;
    height: 50px;
    
    
} 
.back{
    position: absolute;
    left: 20px; 
    bottom: -320px;
    font-family:Georgia;
    color: solid black;
    border-color: solid black;
    /* background-color: rgb(207, 170, 89); */
    background: linear-gradient(#ffffff, #117897);
    border-radius: 50%;
    /* margin-left: 10px;  */
    margin-block-end: 10px;
    color: solid black;
    font-size: 13px;
    font-weight: 800;
    width: 55px;
    height: 55px; 
    cursor: pointer;
    
}
.back:hover{
    color: rgb(255, 249, 249);
    border-color: solid black;
    background-color: transparent;
}

